{% extends 'base.html' %}

{% block title %}
    Controle de Estoque - Cadastrar Produto
{% endblock title %}

{% block content %}
    <div class="row background-color">
        <div class="titulo">
            <h2>Novo Produto</h2>
        </div>
        <div class="formulario">
            <form method="post" id="form-cadastro-produto"> {% csrf_token %}
                <div class="dados-form form-group">
                    {{form.as_ul}}
                </div>

                <div class="button">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}