{% extends 'base.html' %}

{% block title %}
    Estoque Django Brasil - Excluir Produto
{% endblock title %}

{% block content %}
    <div class="row background-color content">
        <div class="titulo">
            <h2>Excluir Produto</h2>
        </div>
        <div class="avisos">
            <h3>
                Essa operação não poderá ser desfeita!
            </h3>
            <h4>
                Você tem certeza que deseja excluir {{produto.nome}}?
            </h4>
        </div>
        <div class="formulario">
            <form method="post"> {% csrf_token %}
                <div class="button">
                    <button id="botao-excluir" type="submit" class="btn btn-danger">Excluir {{produto.nome}}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}