{% extends 'base.html' %}
{% load static %}

{% block title %}
    Controle de Estoque
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="sobre">
            <div class="descricao">
                <h1>One More Estoque</h1>
                <p>
                    Seja um negócio físico ou digital, garantimos que seu estoque estará sempre
                    atualizado e correto. Conte conosco para:
                </p>
                <ul>
                    <li>Melhorar o fluxo de caixa da sua empresa</li>
                    <li>Aumentar as suas vendas e a satisfação dos seus clientes</li>
                    <li>Reduzir perdas de produtos</li>
                    <li>Preços de vendas mais competitivos</li>
                    <li>E claro, não deixar um produto ficar fora de estoque</li>
                </ul>
            </div>
        </div>

    </div>
{% endblock content %}