/* Barra de Navegação */
#pagina-inicial{
    color: aliceblue;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;

}

.navbar-color{
    background-color: #000000;
}

.menu-link{
    color: aliceblue;
    padding: 5px;
    font-family: 'Mulish', sans-serif;
    line-height: 30px;
}

/* =-=-=-= Cadastro de Usuário e Login =-=-=-= */
.bem-vindo{
    width: 40%;
    margin-top: 8px;
    text-align: right;
}

.bem-vindo h6{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.helptext{
    display: none;
}

div.cadastro-usuario ul.errorlist{
    width: 95%;

}

div.cadastro-usuario ul.errorlist li{
    margin: auto;
    width: 100%;
    color: red;
}

/* =-=-=-= Fim Cadastro de Usuário e Login =-=-=-= */

/* Conteúdo Principal */
.background-color{
    background-color: #FFFFFF;
    margin-bottom: 45px;
}

/* Sobre & Extra */
.sobre{
    padding: 15px;
}

div.descricao{
    margin-bottom: 50px;
    width: 100%;
}

.sobre h1{
    font-family: 'Mulish', sans-serif;
    text-align: center;
    margin-left: 25px;
    font-size: 60px;
}

.sobre p{
    margin-left: 25px;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    text-align: center;
}

.sobre ul{
    list-style-type: square;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

.sobre ul li{
    line-height: 1.6;
}

/* Geral */
div.titulo{
    margin-top: 12px;
    width: 100%;
}

.titulo h2{
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
}

.filtro-lista{
    width: 100%;
    margin-top: 25px;
    padding: 15px;
}

.filtro-lista h4{
    text-align: center;
}

.filtro-lista form{
    padding: 10px;
    margin: 0 auto;
}

.formulario{
    margin: 0 auto;
}

.formulario li{
    margin-bottom: 15px;
    list-style-type: none;
}

.dados-form select{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    text-align-last: center;
}

.formulario input,
.formulario textarea{
    width: 75%;
    margin: 0 auto;
}

.novo-usuario input{ /* Tela de Login */
    width: 100%;
}

.cadastro-usuario input{ /* Tela de Cadastro */
    width: 100%;
}

textarea{
    resize: none;
}

.formulario label{
    width: 100%;
}

.formulario .dados-form{
    text-align: center;
}

.formulario .button{
    margin-bottom: 45px;
    text-align: center;
}

/* Detalhes Produto */
div#detalhe-produto{
    width: 90%;
    margin: 0 auto;
}

div#detalhe-produto h2{
    font-family: 'Mulish', sans-serif;
    text-align: center;
    margin-top: 20px;
}

div#detalhe-produto label{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: block;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

div#detalhe-produto textarea{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
}

.detalhe-links{
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 21px;
}

.detalhe-links a{
    font-size: 18px;
    padding: 12px;
}

.avisos {
    width: 100%;
    font-family: 'Mulish', sans-serif;
}

.avisos h3,
.avisos h4{
    text-align: center;
    margin-bottom: 12px;
}

.avisos h3{
    font-size: 36px;
    color: red;
}

#botao-excluir{
    margin-top: 16px;
}

/* Rodapé */
footer{
    background-color: #000000;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}