body{
    background-image: url("https://images.pexels.com/photos/544917/pexels-photo-544917.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/* Barra de Navegação */
#pagina-inicial{
    color: aliceblue;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;

}

.navbar-color{
    background-color: #000000;
}

.menu-link{
    color: aliceblue;
    padding: 5px;
    font-family: 'Mulish', sans-serif;
    line-height: 30px;
}

/* Conteúdo Principal */
.background-color{
    background-color: #FFFFFF;
}

/* Sobre */
.sobre{
    padding: 15px;
}

div.descricao{
    margin-bottom: 50px;
    width: 100%;
}

.sobre h1{
    font-family: 'Mulish', sans-serif;
    text-align: center;
    margin-left: 25px;
    font-size: 60px;
}

.sobre p{
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
}

.sobre ul{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

.sobre ul li{
    display: block;
    line-height: 1.6;
}

/* Geral */
div.titulo{
    margin-top: 12px;
    width: 100%;
}

.titulo h2{
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
}

.filtro-lista{
    width: 100%;
    margin-top: 25px;
    padding: 15px;
}

.filtro-lista h4{
    text-align: center;
}

.filtro-lista form{
    padding: 10px;
    margin: 0 auto;
}

.formulario{
    margin: 0 auto;
}

.formulario li{
    margin-bottom: 15px;
    list-style-type: none;
}

.dados-form select{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    text-align-last: center;
}

.formulario input,
.formulario textarea{
    width: 75%;
    margin: 0 auto;
}

textarea{
    resize: none;
}

.formulario label{
    width: 100%;
}

.formulario .dados-form{
    text-align: center;
}

.formulario .button{
    margin-bottom: 45px;
    text-align: center;
}

/* Rodapé */
footer{
    background-color: #000000;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}