body{
    background-image: url("https://images.pexels.com/photos/544917/pexels-photo-544917.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/* Barra de Navegação */
#pagina-inicial{
    color: aliceblue;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;

}

.navbar-color{
    background-color: #000000;
}

.menu-link{
    color: aliceblue;
    padding: 5px;
    font-family: 'Mulish', sans-serif;
    line-height: 30px;
}

/* Conteúdo Principal */
.background-color{
    background-color: #FFFFFF;
}

/* Sobre */
.sobre{
    padding: 15px;
}

div.descricao{
    position: relative;
    z-index: 1;
}

.sobre h1{
    font-family: 'Mulish', sans-serif;
    text-align: justify;
    margin-left: 25px;
    font-size: 60px;
}

.sobre p{
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.sobre ul{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

.sobre ul li{
    display: block;
    line-height: 1.6;
}

div.logo{
    margin-top: -270px;
    position: absolute;
    z-index: 0;
}

.logo img{
    width: 20%;
    margin-left: 720px;
    margin-top: 40px;
}